Q1. How do you comment code in Python? What are the different types of comments?

Ans 1. In python with the use of # single line comment will denote & for multi line comment we use (''' ''') triple qoute inverted comma.
examples are given below:

In [1]:
#this is a example of comment code.

In [2]:
'''My name is Shantam Gupta, I am from gorakhpur location and curently i am pursuing Data Science master course from pw skills.'''

'My name is Shantam Gupta, I am from gorakhpur location and curently i am pursuing Data Science master course from pw skills.'

#Q2. What are variables in Python? How do you declare and assign values to variables?

Ans 2. In python Variables are like a containers which are use to stores tha data values, Equal to (“=”) symbol is the operator that is used to assign values to variables and variables will be declare like (int , str, float, boolean, etc).

In [3]:
#Example:-
x = "Shantam " # X is the variable that stores that "Shantam" name data into it. 
y = "Gupta"
z = x + y
print (z)

Shantam Gupta

#Q3. How do you convert one data type to another in Python?

Ans 3. Explained As per the Examples :-

In [4]:
x = 145 # int type data type

In [5]:
str(x) # Temp coverted into string type data type

'145'

In [30]:
# Second Example :- 
s = {1,2,3,4,5,8,7}
type(s)

set

In [31]:
s1 = []

In [32]:
list(s) # output is converted into list type data type

[1, 2, 3, 4, 5, 7, 8]

In [12]:
s1.append(s)
print (type(s1)) # parmanent change into list type data type

<class 'list'>

In [13]:
s1

[{1, 2, 3, 4, 5, 7, 8}]

#Q4. How do you write and execute a Python script from the command line?

Ans 4. Python programs is used by plain text files. By convention, those files will use the .py extension. Python code files can be created with any plain text editor and need to create a test scripts like :- print("Hello World!") and save this file in working directory with the name hello.py. To execute Python scripts from command-line just type python in command prompt and then jsut type hello.py extention file to run the scripts.

In [6]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]

In [34]:
#Ans 5.
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

#Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans 6. Complex no. consists of two values, the first one is the real part of the complex number, and the second one is the imaginary part of the complex number and We usually denote the imaginary part with j in python.

In [11]:
#For example:-
c = 6 + 12j
type(c)

complex

In [12]:
c.real

6.0

In [13]:
c.imag

12.0

#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [14]:
#Ans 7.
age = 25

In [15]:
age

25

In [20]:
age = int(input("Enter your age :- ")) # method to assigning the value in variables by user input
print (" Your age is ",age,"years")

Enter your age :-  25

 Your age is  25 years

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [22]:
#Ans 8. 
price = 9.99
type(price) # Float data type variable belong to assigned value into variable named price.

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [25]:
#Ans 9. 
name = "Shantam"
type(name)

str

In [26]:
print (name)

Shantam

Q10. Given the string "Hello, World!", extract the substring "World".

In [46]:
#Ans 10.
x = "Hello, World!"
x[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not

In [50]:
#Ans 11. 
is_student = True
is_student

True